<!DOCTYPE html>
<html>
<head>
    <title>WeatherPacker!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="instruction">
        <span>Enter the location of your trip in the box below.</span>
        <br><br>
    </div>

    <div class="inputs">
        <input type="hidden" ref="inputs_ref">
        <span>City:</span>
        <br>
        <input v-model="city">
        <br><br>
        <span>Country:</span>
        <br>
        <input v-model="country">
        <br><br>
        <button type="button" v-on:click="send_inputs()">Get weather</button>
    </div>

    <script>
    const get_func = (location) => {
        let fullurl = 'http://localhost:8080/get_weather/?location=' + location

        var requestOptions = {
            method: 'GET',
            redirect: 'follow',
        };
        return (fetch(fullurl, requestOptions)
            .then(response => response.json())
            .catch(error => console.log('error', error)) 
        )
    }
    
    var city, country, data, location
    new Vue({
        el: ".inputs",
        data: {
            city: null,
            country: null
        },
        methods: {
            async send_inputs() {
            city = this.city
            country = this.country
            location = 'Dublin,Ireland'
            //data = await get_func(location)
            console.log("reached")
            }
        }
    });
    </script>
</body>

</html>